<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
    <link th:href="@{/styles/projects.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/like.js}"></script>
</head>
<body>

<h2>Project</h2>
<p th:text="${project.name}"></p>
<h2>Text</h2>
<p th:text="${project.text} ?: 'no text yet' "></p>

<div th:if="${project.user == current_user}">
    <form method="post" th:action="@{'/projects/{id}/delete'(id=${project.id})}">
        <button class="button delete_button" type="submit">Delete</button>
    </form>
</div>

<div th:if="${project.user == current_user}">
    <form method="get" th:action="@{'/projects/{id}/change'(id=${project.id})}">
        <button class="button delete_button" type="submit">Change project</button>
    </form>
</div>

<div th:if="${project.user == current_user}">
<!--Выбрать челов на проект-->
<!--    <h2>People:</h2>-->
<!--    <ul th:each="user : ${project.getUsersWannaTakePart()}">-->
<!--        <li>-->
<!--            <a th:href="@{/user/(id=${project.id})}"-->
<!--               th:name="${project.name}"-->
<!--               th:text="${project.name}"></a>-->
<!--        </li>-->
<!--    </ul>-->

<!--    <p th:unless="${projects.iterator().hasNext()}">No projects found</p>-->
</div>

<div th:if="${(project.user != current_user) && (!project.getUsersWannaTakePart.contains(current_user)) && (!project.getUsersTakePart.contains(current_user))}">
    <form method="post" th:action="@{'/projects/{id}/takePart'(id=${project.id})}">
        <button class="button delete_button" type="submit">Take part</button>
    </form>
</div>

<div th:if="${(project.user != current_user) && (project.getUsersWannaTakePart.contains(current_user))}">
    <h3>Now the author can choose you for his project</h3>
</div>

<div th:if="${(project.user != current_user) && (project.getUsersTakePart.contains(current_user))}">
    <h3>You take part in this project! Congrats!</h3>
</div>

<div th:if="${(project.user != current_user) && ((project.getUsersWannaTakePart.contains(current_user)) || (project.getUsersTakePart.contains(current_user)))}">
    <form method="post" th:action="@{'/projects/{id}/deleteTakePart'(id=${project.id})}">
        <button class="button delete_button" type="submit">Decline participation</button>
    </form>
</div>

</body>
</html>