<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link th:href="@{/styles/start_page.css}" rel="stylesheet" />
    <link th:href="@{/styles/list_of_smth.css}" rel="stylesheet" />
</head>
<body>
<a>Create project</a>
<div class="wrapper fadeInDown">

    <div id="formContent">

        <form method="post" th:object="${projectForm}">
            <!-- Error handling -->
            <input type="text" th:field="*{projectName}"
                   id="projectName" class="fadeIn second" name="projectName" placeholder="projectName">
            <input type="text" th:field="*{projectText}"
                   id="projectText" class="fadeIn third" name="projectText" placeholder="projectText">

            <input type="submit" value="Create project idea"
                   class="fadeIn fourth">
        </form>
    </div>
</div>

<form method="get" th:object="${projectSubstr}" th:action="@{/findProject}">
    <div class="col-3">
        <input class="effect-8" th:field="*{value}" type="text" placeholder="Enter words to find project ...">
        <span class="focus-border"><i></i></span>
    </div>
    <button class="submit_button" type="submit">Find</button>
</form>

<h1>Projects:</h1>
<ul th:each="project : ${projects}">
    <li>
        <a th:href="@{/projects/{id}(id=${project.id})}"
           th:name="${project.name}"
           th:text="${project.text}"/>
    </li>
</ul>

<p th:unless="${questions.iterator().hasNext()}">No questions found</p>

</body>
</html>