body {
    background-color: darkslategray;
    text-underline-color: aliceblue;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: aliceblue;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 2vw;
    text-align: center;
}

p {
    text-align: center;
}